.va-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.va-container h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #2c7be5;
}

.va-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.va-card {
    flex: 1 1 200px;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.va-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.va-number {
    font-size: 28px;
    font-weight: bold;
}

.va-total-visitors {
    background-color: #007aff;
}

.va-total-views {
    background-color: #ff6600;
}

.va-filter {
    margin-bottom: 30px;
    text-align: center;
}

.va-filter form {
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.va-filter input {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.va-filter button {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    background: #2c7be5;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.va-filter a {
    padding: 8px 15px;
    border-radius: 6px;
    background: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
}

.va-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.va-table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #2c7be5;
    color: #fff;
}

th,
td {
    padding: 12px;
    text-align: left;
}

td:last-child,
th:last-child {
    text-align: right;
}

tbody tr {
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background: #f0f8ff;
}

.no-data {
    text-align: center;
    color: red;
    font-weight: bold;
}




.va-back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #2c3e50;
    color: #fff;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.va-back-btn:hover {
    background: #1a252f;
}